*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
app/build
app/libs
app/src/androidTest
/app/src/main/java/com/example/myapplication/ui/theme/
/app/src/test/
/app/src/main/res/drawable/
/app/src/main/res/mipmap-hdpi/
/app/src/main/res/mipmap-anydpi/
/app/src/main/res/mipmap-mdpi/
/app/src/main/res/mipmap-xhdpi/
/app/src/main/res/mipmap-xxhdpi/
/app/src/main/res/mipmap-xxxhdpi/
/app/src/main/res/values/
/app/src/main/res/xml/
/app/src/main/res/
/gradlew.bat
/local.properties
/gradlew
/gradle.properties
/app/proguard-rules.pro
